.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#components-form-demo-control-ref .ant-btn {
  margin-right: 8px;
}
.fill100percent{
  width: 100%;
  height: 100%;
}

.elevator{
  position: absolute;
  width: 15vw;
  background-color: #fff1b7;
}
.ElevatorA{
  position: absolute;
  width: 10vw;
  background-color: #fff1b7;
}
.ElevatorA:after{
  content: " ";
  display: block;
  position: absolute;
  height: 100vh;
  top:-100vh;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  background-color: #9b640b;
}
.elevatorName{
  position: absolute;
  padding-top: 10px;
  width: 10vw;
  text-align: center;
  z-index: 9;
}